<h5>Meus Orçamentos</h5>
<!-- <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
<mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-left">
   <mdl-menu-item mdl-ripple (click)="action()">Some Action</mdl-menu-item>
   <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Another Action</mdl-menu-item>
   <mdl-menu-item mdl-ripple disabled>Disabled Action</mdl-menu-item>
   <mdl-menu-item>Yet Another Action</mdl-menu-item>
</mdl-menu> -->


<mdl-list style="width:650px" *ngFor="let budget of budgets">
  <mdl-list-item lines="3" mdl-ripple (click)="gotoDetail(budget)">
    <mdl-list-item-primary-content>
      <a><mdl-icon mdl-list-item-avatar>person</mdl-icon></a>
      <span>{{budget?.name}}</span>
      <mdl-list-item-text-body>
        {{budget?.description}}
      </mdl-list-item-text-body>
    </mdl-list-item-primary-content>
    <!-- <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>delete</mdl-icon></a>
    </mdl-list-item-secondary-content> -->
  </mdl-list-item>
</mdl-list>


<table>
  <tr>
      <th>Nome</th>
      <th colspan="2">Descrição</th>
  </tr>
  <tr *ngFor="let budget of budgets">
    <td><a (click)="gotoDetail(budget)" >{{budget.name}}</a></td>
    <td></td>
    <td>{{budget.description}}</td>
  </tr>
</table>
<button id="new-budget" mdl-button mdl-button-type="fab" mdl-colored="accent" mdl-ripple (click)="gotoNewBudget()">
  <mdl-icon>add</mdl-icon>
</button>


<mdl-card mdl-shadow="4" *ngFor="let budget of budgets">
  <mdl-card-title>
    <h2 mdl-card-title-text>{{budget.name}}</h2>
  </mdl-card-title>
  <mdl-card-supporting-text mdl-card-expand>
    {{budget.description}}
  </mdl-card-supporting-text>
  <!-- <mdl-card-actions>
    {{budget.creation}}
  </mdl-card-actions> -->
</mdl-card>

<!-- <ul *ngFor="let budget of budgets">
  <li>
    <table>
      <tr>
        <td><a (click)="gotoDetail(budget)" >{{budget.name}}</a></td>
        <td>{{budget.description}}</td>
      </tr>
    </table>
  </li>
</ul> -->

<!--<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div> -->
